td{
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: comic Sans MS;    
                
}
caption{
    font-size: 50px;
}
th{
    font-family: comic Sans MS;
    font-size: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:50px;
}

button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    color: blue;
}

a{
    text-decoration: none;
    font-family: comic Sans MS;
    
}

button.mes:hover{
    background-color: lightblue;
    cursor: pointer;
}
button.codigob{
    font-family: comic Sans MS;
    border: none;
    color: inherit; 

}
